{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "declaration-block-no-duplicate-properties": null
  }
}
